.tc-white {
  color: #E3E3E3!important;
} 

.bg-lines-h2-bg {
  background-image: none;
}

#bloc-2-services p {
  font-size: 17px;
}

p {
  font-size: 17px;
}

.tight-width-whitespace {
  /* max-width: 600px; */
}

.l-bloc {
  color: #000000;
}

.col-sm-6 {
  padding-right: 30px;
  padding-left: 30px;
}